@import url("https://allfont.net/allfont.css?fonts=star-jedi");

body {
    background-color: #000000;
}

.centering{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.name-area{
    background-color: #000000;
    color: #FFE81F;
    padding: 5px;
    margin: 10px;
    text-align: center;
    width: 50%;
    font-family: 'Star Jedi', arial;
}

button {
    background-color: #292929;
    color: #FFE81F;
    padding: 10px;
    margin: 10px;
    font-family: 'Star Jedi', arial;
}